@charset "UTF-8";
/* CSS Document */
/*****************************************Color Palette*****************************
Light cyan (header,footer and aside) #E0FFFF (209, 255, 204)
Orange (links and button) #FF5600  (255, 86, 0)
Light yellow (section backgrounds): #FFFACD  (255, 250, 205)
Dark gray (body text): #333  (51, 51, 51)
****************************************************End of Color Palette***********
**********************************************************************************/
/*****************************************Eric Meyer CSS reset**********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***************************************************End Eric Meyer CSS reset*********
************************************************************************************/
/*****************************************Site wide settings************************/
#wrapper {
    max-width: 960px; /*was width:960px*/
    margin: 0 auto;
}
body {
	max-width: 100%;
    background: #CCC;
	background-image: url(../images/background_texture.jpg); /*url(../images/wood.jpg);*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
	font: 1em/1.4 Quicksand, sans-serif;
	/*font-family: 'Quicksand', sans-serif;
	font-size: 100%; */ /*default 16px*/
	/*line-height: 1.4; changed to font shorthand*/
	margin-top: 0;
	margin-bottom: 0;
	color: #333;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0 2%;
}
h2 {
	font-size: 1.5em; /*24px (24/16)*/
	font-weight: bold;
	padding: 20px 2%;
}
h3 {
	font-size: 1.25em; /*20px (20/16)*/
	font-weight: bold;
	padding-bottom: 20px;
}
p {
	font-size: 1.0625em; /*16px (16/16)-trying 17px (17/16)*/
    margin: 0;
    padding: 0 2%; /*15px (15/960)*/
}
img {
	max-width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}
ul {
	margin-top: 0;
	margin-bottom: 0;
}
/***************************************************End of site wide settings*******
************************************************************************************/
/****************************************Header settings****************************/
#home {
    background: #E0FFFF;
}
h1 {
	text-indent: -104.16666%; /*-1000px; (-1000/960)*/
}
#home p {
	font-style: italic;
	font-weight: normal;
	margin-top: -20px;
}
#home ul {
	width: 97.91666%; /*940px (940/960)*/
	margin: 0 auto;
	list-style-type: none;
	padding:22px 2.34042%; /*was (22px,22px,22px,22px)*/
}
#home ul li a {
	width: 24.47916%; /*235px (235/960)*/
	float: left;
	text-decoration: none;
	text-align: center;
	color: #FF5600;
	font-weight: bold;
}
#home a:link {
	color: #FF5600;
}
#home a:visited {
	color: #FF5600;
}
#home a:hover {
	color: #333;
}
#home a:active {
	color: #FFFACD;
}
/***************************************************End of header settings*********
***********************************************************************************/
/*****************************************Main content settings********************/
#main_section {
	background: #FFFACD;
	clear: right;
	padding-bottom: 20px;
}
#main_section img {
	margin-bottom: 0;
	padding-bottom: 0;
}
aside {
	width: 20%; 
	background: #E0FFFF;
	float: right;
	padding: 30px 3.5%; 
	margin-top: 0;
	position: relative;
	top: -416px;
}
aside ul {
	font-size: 1.0625em; /*17px (17/16)*/
	font-style: italic;
	list-style-type: square;
	line-height: 1.5;
	padding-left: 16.2%;
}
aside h3 {
	padding-bottom: 10px;
	text-align: center;
	text-shadow: 1px 1px 2px #003;
}
.column_text {
	 width: 70%;
	 float: none; 
    -moz-column-count: 2; 
    -webkit-column-count: 2; 
    column-count: 2;
	column-width: 295px; /*295px*/ /*I tried to change to %, but the CSS validator said this does not allow %*/
    -moz-column-width: 295px; /*295px*/ 
    -webkit-column-width:295px; /*295px*/ 
}
.column_text p {
	padding-bottom: 10px;
	padding-left: 6%;
}
/*************************************************End of Main content settings*****
***********************************************************************************/
/*******************************************Ancient Knowledge section**************/
#ancientknowledge {
	width: 100%;
	background: rgba(255, 250, 205, 0.80);
}
#ancientknowledge img { /*was ancientknowledge img*/
 	max-width: 100%; /*just added, just in case this doesn't work remove*/
	min-width: 28%; /*was 28--just added, just in case this doesn't work remove*/
	float: right;
	/*width: 28%;*/ /*just commented out, just in case this doesn't work remove*/
	position: relative;
	top: 38px;
	left: 22.9%;
	/*position: fixed;
	top: 500px;
	left: 20%;*/
	
}
#ancient_article {
	width: 75%; /*was 100%--just changed*/
	float: none;
	padding-bottom: 30px;
}
#ancient_article h3 {
	width: 100%;
	padding: 5px 1.6%;
}
#ancient_article p {
	float: none;
	padding-right: 0;
	padding-bottom: 10px;
	width: 60%; /*was 55%--just changed*/
}
/***************************************************End of Ancient Knowledge*******
***********************************************************************************/
/*******************************************Gallery section************************/
#gallery {
	background: #FFFACD;
	clear: both;
	float: none;
}
#gallery ul li {
	display: inline-block;
	padding-left: 5.208333%; /*50px (50/960)*/
	padding-bottom: 40px;
}
#gallery img {
	max-width: 100%;
}
/***************************************************End of Gallery section********
**********************************************************************************/
/*******************************************About Us section**********************/
#aboutus {
	background: rgba(255, 250, 205, 0.80);
}
#aboutus p {
	padding-bottom: 10px;
}
blockquote {
	width: 83.333333%; /*800px (800/960)*/
	text-indent: 2.5%; /*20px (20/800)*/
	margin-bottom: 0;
	padding-right: 5%; /*40px (40/800)*/
	padding-bottom: 20px;
	padding-left: 5%; /*40px (40/800)*/
}
/***************************************************End of About Us section*******
**********************************************************************************/
/*******************************************Sign up section***********************/
#signup {
	background: #FFFACD;
}
form  {
	width: 63%; /*97.91666%;*/
	/*background: #E0FFFF;*/
	/*border: 1px solid #333;*/
	font-size: 1.1em;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 2%;
	line-height: 1.6;
	float: none; /*just added, today*/
}
#name_first {
	margin-left: 3.2%;
}
#name_last {
	margin-left: 3.7%;
}
#zip_code {
	margin-left: 5.8%;
}
#email_address {
	margin-left: 11.5%;
}
.row {
	display: inline-block;
	margin-right: 3%;
	padding-left: 7.3%;
	position: relative;
	top: -28px;
	left: 12.8%;
	font-size: 0.9em;
}
#birthday {
	margin-top: 0; /*-27px;*/
}
.birthyear_label {
	margin-left: -6.5%;
}
.birthyear {
	margin-left: 0;
}
.birthday_label {
	margin-right: 6.6%;
}
#newsletter_checkbox {
	margin-left: 20%; /*18.2%;*/
	font-size: 0.85em;
	position: relative;
	top: -27px;
}
#terms_checkbox {
	margin-left: 20%;
	font-size: 0.85em;
	position: relative;
	top: -27px;
}
#terms_checkbox a {
	text-decoration: none;
}
#social_media {
	width: 25%;
	height: 100px;
	/*border: 1px solid #333;*/
	position: relative;
	top: -260px; /*-299px;*/
	float: right; /*just added, today*/
}
#social_media h3 {
	background: #E0FFFF;
	padding-bottom: 1px;
	color: #333;
	font-weight: bold;
}
#social_media_icons {
	padding: 20px 5% 20px 12%;
	background: #E0FFFF;
}

/***************************************************End of Sign up section********
**********************************************************************************/
/*******************************************Footer settings***********************/
footer {
	background: #E0FFFF;
	width: 100%;
}
footer ul {
	width: 100%; /*98.91666%;*/ /*was not filling in the box*/ /*940px; (940/960)*/
	padding-top: 5px; /*was 20, today*/
	padding-right: 0.53191%;
	padding-left: 0.53191%;  /*5px 0.53191%;*/ /*5px left and right (5/940)*/
}
footer a {
	width: 18.14893%; /*180px (180/940)*/
	float: left;
	clear: right; 
	padding-bottom: 5px;
	text-decoration: none;
	text-align: center;
	color: #FF5600;
	font-weight: bold;
}
footer p {
	font-size: 0.75em; /*12px (12/16)*/
	padding-bottom: 5px;
	clear: left;
}
a:link {
	color: #FF5600;
}
a:visited {
	color: #FF5600;
}
a:hover {
	color: #333;
}
a:active {
	color: #FFFACD;
}
/***************************************************End of footer settings*********
***********************************************************************************/
/**********************************************Buttons and Misc.*******************/
.button {
	font: normal normal normal 1.5em normal Quicksand,sans-serif;
	/*font-family: Quicksand, sans-serif;
	font-size: 1.5em; /*24px (24/16)*/
	/*font-weight: bold;*/
	background-color: #FF5600;
	border: none;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #333;
	margin: -25px 18% 20px 14.7%; /*30px 0 10px 26px; top-right-bottom-left*/
	text-shadow: 1px 1px 3px #FFF;
	width:  150px;
	height: 40px;
	background: -moz-linear-gradient(top, #f3c5bd 0%, #ea2803 9%, #ea2803 34%, #ff6600 75%, #e86c57 94%, #c72200 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3c5bd), color-stop(9%,#ea2803), color-stop(34%,#ea2803),     color-stop(75%,#ff6600), color-stop(94%,#e86c57), color-stop(100%,#c72200)); /* Thanks to Colorzilla.com for helping with the gradient*/
}
/***************************************************End of buttons and Misc.*********
************************************************************************************/
/***********************************************Media Queries***********************/
/*LARGE-Tablet Portrait size to standard 960 (devices and browsers)*/
@media screen and (min-width: 768px) and (max-width: 959px) {
	body {
		font-size: 1em;
	}
	h2 {
		font-size: 1.4em;
		padding-left: 3%;
	}
	h3 {
		font-size: 1.1em;
		padding-left: 2%;
	}
	#home {
		background: honeyDew;
		background-image: none;
	}
	.column_text p {
		padding-left: 8%;
	}
	aside {
		position: relative;
		top: -413px;
	}
	#ancientknowledge img {
		width: 27%;
	}
	#ancient_article {
		min-width: 90%;
		padding-left: 1.15%;
	}
	#gallery img {
		padding-left: 25%;
	}
	#aboutus p, #signup p {
		padding-left: 3%;
	}
}
/*MEDIUM-Mobile Landscape size to Tablet Portrait (devices and browsers)*/
@media only screen and (min-width: 480px) and (max-width: 767px) {
	body {
		font-size: 1em;
	}
	h2 {
		font-size: 1.4em;
	}
	h3 {
		font-size: 1.1em;
	}
	#home {
		background: mistyRose;
		background-image: none;
	}
	#main_section h2 {
		padding-left: 4%;
	}
	#home ul {
		padding-bottom: 50px;
	}
	#main_section aside {
		display: none;
	}
	#ancientknowledge h2 {
		padding-left: 4%;
	}	
	.column_text {
		width: auto;
		padding-right: 3%;
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
	}
	#ancient_article {
		width: auto;
	}
	#ancientknowledge img {
		float:none;
		width: 38%;
		position: relative;
		top: 1px;
		left: 8%;
	}
	#ancient_article p {
		width: 90%;
		/*padding-right: 3%;*/
		padding-left: 6%;
	}
	#ancient_article h3 {
		width: 100%;
		padding-left: 6%;
	}
	#gallery h2 {
		padding-left: 4%;
	}
	#gallery img {
		padding-left: 12%;
	}
	#aboutus {
		padding-right: 2%;
		padding-left: 2%
	}
	#signup {
		padding-right: 2%;
		padding-left: 2%;
	}
	form {
		width: 95%;
	}
	#zip_code {
		margin-left: 5.5%;
	}
	#email_address {
		margin-left: 10.4%;
	}
	.birthday_label {
		margin-right: 6.1%;
	}
	.row {
		padding-left: 5.2%;
	}
	#newsletter_checkbox, #terms_checkbox {
		margin-left: 17.9%;
	}
	.button {
		margin-left: 19%;
	}
	#social_media {
		display: none;
	}
}
/*SMALL-Mobile Portrait size to Mobile Landscape size (devices and browsers)*/
@media only screen and (max-width: 479px) {
	body {
		font-size: 0.9em;
	}
	h2 {
		font-size: 1.3em;
	}
	h3 {
		font-size: 1em;
	}
	#home {
		background: lavender;
		background-image: none;
	}
	#home p {
		padding-left: 3%;
	}
	#home ul {
		padding-bottom: 50px;
	}
	#main_section aside {
		display: none;
	}
	#ancientknowledge img {
		float: none;
		margin-left: -18%;
		width: 50%;
	}
	#ancientknowledge h2{
		margin-bottom: -40px;
	}
	.column_text {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		column-count: 1;
		width: 95%;
	}
	#ancient_article h3 {
		font-size: 1.1em;
		width: 100%;
		padding-left: 5%;
	}
	#ancient_article {
		width: auto;
		padding-top: 50px;
		float: none;
	}
	#ancient_article p {
		width: auto; 
	    padding-top: 15px;
		padding-right: 5%;
		padding-left: 5%;
	}
	#gallery img {
		padding: 0 14%;
	}
	#aboutus p {
		padding-right: 5%;
		padding-left: 5%;
	}
	#signup p {
		padding-right: 5%;
		padding-left: 5%;
	}
	form {
		width: 95%;
		padding-left: 3%;
		line-height: 1.9;
	}
	.form_field {
		font-size: 0.95em;
	}
	.birthday_label, .birthyear_label {
		font-size: 0.95em;
	}
	.radios legend {
		font-size: 0.95em;
	}
	#name_first {
		margin-left: 0.2%;
	}
	#name_last {
		margin-left: 0.8%;
	}
	#zip_code {
		margin-left: 3%;
	}
	#email_address {
		margin-left: 9.2%;
	}
	.birthday_label {
		margin-right: 3.8%;
	}
	.birthyear_label {
		margin-left: -5%
	}
	.row {
		padding-left: 6.5%;
		position: relative;
		top: -26px;
		padding-bottom: 4px;
	}
	#newsletter_checkbox {
		margin-left: 19.3%;
		padding-bottom: 4px;
	}
	#terms_checkbox {
		margin-left: 19.3%;
	}
	#signup_link {
		display:none;
	}
	footer ul {
		width: 100%;
		list-style-type: none;
	}
	footer ul li a {
		margin: 0 2%;
	}
	#social_media {
		display: none;
	}
	.button {
		margin-left: 21.5%;
	}
}
		
		
