@charset "UTF-8";
/* CSS Document */
body {
	color: #003;
	font-family: 'Quicksand' , sans-serif;
	font-size: 16px;
	line-height: 1.3;
}

#wrapper {
	width: 960px;
	margin: 0 auto;
}
/* heading elements--------------*/	
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 8px 8px;
}
/* p-elements---------------*/
p {
	margin: 0;
	padding: 8px 8px;
}
/*  body font-------------------------------------
body {
	font: normal normal bold 18px/1.3 'Quicksand', sans-serif;
}/*
/* header--------------------------------------*/
header {
	background: rgba(153,255,255,0.75);
}
/* header nav--------------------------------------*/ /* padding may need to be removed from the nav sections */
header ul {
	width: 600px;
	margin: 0 auto;
	list-style-type: none;
	padding: 0;
}
header ul li {
	width: 150px;
	float: left;
	text-decoration: none;
	/*display: inline;
	margin: 25px;
	padding: 10px;*/
}
/* footer----------------------------------------*/
footer {
	background: rgba(153,255,255,0.75);
}
/* footer nav-------------------------------------*/
footer ul li {
	display: inline;
	margin: 25px;
	padding: 10px;
}
/* gallery-----------------------------------------*/
#gallery {
	background: #CCC;
}
/* aside owl facts---------------------------------*/
aside {
	background: rgba(153,255,255,0.75);
	float: right;
	padding: 30px 30px 30px 30px;
}
aside h3 {
	text-shadow: 1px 1px 2px #003;
}
/* ancient knowledge section ----------------------*/
#ancientknowledge {
	background: #CCC;
}
/* main content (Snowy Owls) -------------------------------*/
#main_section {
	background: #CCC;
	margin-top:0 ;
	margin-bottom: 0;
}
/* about us ---------------------------------------*/
#aboutus {
	background: #CCC;
	margin: 0 0;
}
/* sign up section --------------------------------*/
#signup {
	background: #CCC;
}
header h1 {
	margin: 0;
	text-indent: -1000px;
}
/* aside ul -------------------------------------------*/
aside ul {
	list-style-type: square;
}
/* owls during the ancient greek era --------------------*/
#ancient_article {
	float: none;
}
#ancientknowledge img {
	float: right;
}
/* gallery images ----------------------------------------*/
section ul li {
	display: inline;
	margin-bottom: 0;
}
section ul {
	margin-bottom: 0:
}
.button {
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	background-color: #ff5600;
	border: none;
	border-radius: 4px;
	box-shadow: 2px 2px 2px #333;
	margin: 30px 0 10px 26px;
	text-shadow: 1px 1px 2px #FFF;
	width: 150px;
	height: 40px;
}
a {
	text-decoration: none;
}
blockquote {
	margin-bottom: 0;
}
footer ul {
	margin-top: 0;
}